footer{
    background: #020306f0;
    padding: 50px;
    color: #fff;
  
  }
  footer h2{
    font-family: 'prague';
   font-size: 2 rem;
   line-height: 50px;
   letter-spacing: 3px;
   color: #fff;
  }
  footer p{
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: justify;
  
  }
  footer .foot-add
  {
    padding: 15px;
  }
  footer b{
     color: #fcb21b;
  }
  .p2{
    
      font-size: 13px;
      color: white;
      margin-top: 0px;
      margin-bottom: 0rem;
  
  }
  .img-title {
  
    position: absolute;
    color: #fff;
    text-align: center;
    left: 0%;
    right: 0;
    top: 45%;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  
  .ourstory {
    font-family: prague;
    font-size: 70px;
  }
  
  .c {
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
    text-align: justify;
    font-size: 18px;
    box-sizing: border-box;
  }
  
  .mob-banner {
    display: none;
  }
  
  img {
    width: 80%;
  }
  
  .img-title {
    position: absolute;
    color: #fff;
    text-align: center;
    left: 0%;
    right: 0;
    top: 45%;
    letter-spacing: 4px;
    text-transform: uppercase;
    
  }
  .box{
  position: relative;
  font-family: "Helvetica";
  
  }
  .text-uppercase{
      text-transform: uppercase;
  }
  
  .gallery-grid li{
      width: 270px;
      display: inline-block;
      overflow: hidden;
      outline: 0;
      /* height: 340px; */
      -o-object-position: top;
      object-position: top;
      vertical-align: top;
      padding: 0px 0 0px 0;
      margin: 1px;
  }
  .pr-iocn{
      width: 24px;
      margin-right: 0.5rem;
      margin-top: -0.3rem;
  }
  .active{
      border-bottom: 2px solid#aba7a7;
  }
  .pr-images{
      padding: 20px;
  }
  .online-mention {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
    padding: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 60px;
    margin-bottom: 80px;
  }
  
  .tab-content>.active {
    display: block;
  }
  
  .scrollable[_ngcontent-fmn-c4] {
    height: 425px;
    overflow-y: scroll;
    margin-top: 25px;
  }
  .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  p {
    font-size: 16px; 
    line-height: 28px;
    letter-spacing: 1px;
  }
  
  
  
  @media only screen and (max-width: 1200px)
  {
  .gallery-grid li {
      width: 100%;
      margin-bottom: 20px;
  }
  }